<div class="jumbotron text-center"
  style="background-image: url('https://images.psg.media/media/213305/dsc02798.jpg?anchor=center&mode=crop&width=800&height=533&quality=60');">
  <h1>The Home of Football</h1>
  <p class="lead">Welcome to FootyBlogs by <strong> Jyotiprakash Jena</strong></p>
  <div>
    <a routerLink="/add-blog" class="btn btn-success">Add a Blog</a>
  </div>
</div>

<div class="container site-section">
  <div class="row">
    <div class="col-6 title-section">
      <h2 class="heading">Latest Blog</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="custom-media d-block">
        <div class="img mb-4">
          <a href="single.html"><img src="https://mocah.org/uploads/posts/558958-cristiano-ronaldo.jpg" alt="Image"
              class="img-fluid"></a>
        </div>
        <div class="text">
          <span class="meta">May 20, 2020</span>
          <h3 class="mb-4"><a href="#">The Boy returns</a></h3>
          <p>Ronaldo Back to old tradford</p>
          <p><a href="articles/<%= article.slug%>">Read more</a></p>

        </div>
      </div>
    </div>